* {
  padding: 0;
  margin: 0;
  font-family: 'Major Mono Display', monospace;
  user-select: none;

  transition: all 0.2s;
}
.num0 {
  color: #d4d4d4 !important;
  text-shadow: 0 0 10px #d4d4d4 !important;
}
#warpAll {
  height: 100vh;
  width: 100vw;
}
.unlockedBlock {
  width: 100%;
  height: 100%;
}
.lockedBlock {
  width: 100%;
  height: 100%;
  font-size: 2.5vh;
  color: white;
  font-weight: bolder;
  background-color: #2b2b2b;
  cursor: pointer;
}
.lockedBlock:hover {
  background-color: #575757;
}
#containerI {
  display: block;
  float: left;
  height: 100vh;
  width: 20vw;
}
#basicBlock {
  width: 20vw;
  height: 30vh;
  background-color: #404040;
}
#blocks {
  padding-top: 5vh;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 20vw;
  height: 10vh;
}
#blockCount {
  font-size: 2vw;
  animation-duration: 10s;
  animation-name: blockCountShiny;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blockCountShiny {
  from {
    text-shadow: 0 0 20px white;
  }
  40% {
    text-shadow: 0 0 10px white;
  }
  50% {
    text-shadow: 0 0 0px white;
  }
  60% {
    text-shadow: 0 0 10px white;
  }
  to {
    text-shadow: 0 0 20px white;
  }
}
#blockTxt {
  font-size: 1vw;
}
#blocksPerSec {
  font-weight: bold;
  color: white;
  width: 20vw;
  height: 10vh;
}
#blockPSCount {
  padding-left: 2vw;
  font-size: 1.3vw;
  color: white;
}
#blockPSTxt {
  margin-bottom: 1vh;
  padding-left: 2vw;
  font-size: 0.7vw;
  color: white;
}
#blockClick {
  margin-left: 1vw;
  width: 18vw;
  height: 5vh;
  background-color: rgba(40, 40, 40, 0.6);
  cursor: pointer;

  transition: background-color 1s;
}
#blockClick:hover {
  background-color: rgba(40, 40, 40, 1);

  transition: background-color 1s;
}
#blockClick:active {
  background-color: white;

  transition: background-color 0s;
}
#blockClickTxtWarp {
  margin-left: 1vw;
  padding-top: 1vh;
  width: 16vw;
  height: 3vh;
  color: white;
}
#blockClickPlus {
  padding-top: 0.5vh;
  float: left;
  font-size: 2vh;
}
#blockPerClick {
  font-size: 2vh;
}
#blocClickTxt {
  font-size: 1vh;
}
#basicUpgrade {
  width: 20vw;
  height: 70vh;
  background-color: #6e6e6e;
}
#upgradeBanner {
  padding-left: 1vw;
  padding-top: 1vh;
  width: 20vw;
  height: 4vh;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.2);
  animation-duration: 2s;
  animation-name: upgradeBannerShiny;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#upgradeBanner > p:nth-child(1) {
  float: left;
  font-size: 3vh;
}
#upgradeBanner > p:nth-child(2) {
  padding-left: 1vw;
  padding-top: 1.5vh;
  float: left;
  font-size: 1vh;
}
@keyframes upgradeBannerShiny {
  from {
    color: #fff;
  }
  50% {
    color: #bbb;
  }
  to {
    color: #fff;
  }
}
#upgradesList {
  width: 20vw;
  height: 64vh;
}
.upgradeContent.upN {
  background-color: rgba(219, 138, 138, 0.3);
}
.upgradeContent.upY {
  background-color: rgba(40, 40, 40, 0.3);
  cursor: pointer;
}
.upgradeContent {
  padding: 0.5vh 0 0 0.5vw;
  margin: 0.4166vh 0 0.4166vh 1vw;
  width: 17vw;
  height: 8.5vh;
}
.upgradeContent.upY:hover {
  background-color: rgba(40, 40, 40, 0.6);
}
.upgradeContent.upY:active {
  background-color: rgba(255, 255, 255, 0.8);

  transition: all 0s;
}
.upgradeContent > div {
  color: white;
  text-shadow: 0 0 3px white;
}
.upgradeContent > div:nth-child(1) {
  padding: 0.4vh 0;
  margin-right: 11vw;
  width: 16vw;
  height: 2.2vh;
  font-size: 2.2vh;
  background-color: rgba(40, 40, 40, 0.2);
}
.upgradeContent > div:nth-child(2) {
  padding: 1vh 0 0.4vh 0;
  margin-right: 11vw;
  width: 16vw;
  height: 2.5vh;
  font-size: 2.5vh;
}
.mystUpgrade {
  background: linear-gradient(90deg, #e0b8b8, #d8e0b8, #b8e0c8, #b8c8e0, #d8b8e0);
  animation-duration: 0.5s;
  animation-name: hueRotateAnimation;
  animation-iteration-count: infinite;
}
.mystUpgrade:hover {
  opacity: 0.8;
}
#mystUpgrade {
  width: 20vw; height: 70vh;
  background-color: #25424f;
}
#mystUpgradeBanner {
  padding-left: 1vw;
  padding-top: 1vh;
  width: 19vw;
  height: 4vh;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(90deg, #e0b8b8, #d8e0b8, #b8e0c8, #b8c8e0, #d8b8e0);
  animation: hueRotateAnimation 2s infinite alternate;
}
#mystUpgradeBanner > p:nth-child(1) {
  float: left;
  font-size: 3vh;
  animation: mystTxtShiny 20s infinite alternate;
}
@keyframes mystTxtShiny {
  from {
    color: #fff;
    text-shadow: 0 0 5px #45254f;
  }
  50% {
    color: #45254f;
    text-shadow: 0 0 15px #45254f;
  }
  to {
    color: #fff;
    text-shadow: 0 0 5px #45254f;
  }
}
@keyframes hueRotateAnimation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
#containerII {
  display: block;
  float: left;
  height: 100vh;
  width: 60vw;
  background-color: yellow;
}
#middleContent {
  width: 60vw;
  height: 68.5vh;
  background-color: rgba(200, 200, 200, 0.5);
  background-image: url(Resource/buildBackground.jpg);
  background-size: 60vw auto;
  background-blend-mode: color;
}
#middleContentNav {
  width: 60vw;
  height: 3vh;
}
#middleContentNav > span {
  display: block;
  float: left;
  padding: 1vh 0;
  width: 20vw;
  font-style: 1vh;
  font-weight: bold;
  text-align: center;
}
#middleContentWarp {
  margin-top: 2vh;
  margin-left: 0.5vw;
  width: 59vw;
  height: 63.5vh;
}
#buildMenu {
  height: 100%;
}
#buildMenu > span:nth-child(1) {
  display: block;
  float: left;
  width: 39.5vw;
  height: 99%;
}
#buildMenu > span:nth-child(1) > div:nth-child(1) {
  width: 39.5vw;
  height: 80%;
}
#buildDisplay {
  margin-left: 10.75vw;
  width: 18vw;
  height: 18vw;
}
.buildLine {
  width: 18vw;
  height: 3vw;
}
.buildBlock {
  display: block;
  float: left;
  width: 3vw;
  height: 3vw;
}
#buildMenu > span:nth-child(2) {
  padding-top: 1.905vh;
  display: block;
  float: left;
  width: 19.5vw;
  height: 96%;
  background-color: rgba(230, 196, 165, 0.6);
}
.openedNav {
  background-color: #555;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px 3px #333;
}
.openedNav:hover {
  background-color: #aaa;
  color: black;
}
.openedNav:active {
  background-color: #fff;
  color: #fff;
  box-shadow: 0 5px 10px #fff;

  transition: all 0s;
}
.lockedNav {
  background-color: #333;
  color: black;
  box-shadow: 0 3px 3px #333;
}
.lockedNav:hover {
  filter: blur(1px);
}
#buildClick {
  margin-left: 8.75vw;
  width: 22vw;
  height: 5vh;
  background-color: rgba(40, 40, 40, 0.6);
  cursor: pointer;

  transition: background-color 1s;
}
#buildClick:hover {
  background-color: rgba(40, 40, 40, 1);

  transition: background-color 0.3s;
}
#buildClick:active {
  background-color: white;

  transition: background-color 0s;
}
#buildClickTxtWarp {
  margin-left: 1vw;
  padding-top: 1vh;
  width: 16vw;
  height: 3vh;
  color: white;
}
#buildClickPlus {
  padding-top: 0.5vh;
  float: left;
  font-size: 2vh;
}
#buildPerClick {
  font-size: 2vh;
}
#buildClickTxt {
  font-size: 1vh;
}
#buildingNav {
  margin-left: 0.75vw;
  width: 18vw;
  height: 10%;
}
#buildingNav > span {
  margin: 0 0.5vw;
  display: block;
  float: left;
  width: 8vw;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.6);
  font-size: 6vh;
  text-align: center;
  color: white;
  cursor: pointer;
}
#buildingNav > span:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}
#buildingNav > span:active {
  transform: scale(1.2);
}
#buildingNum {
  height: 5%;
  font-size: 3.1vh;
  color: #e37919;
  text-shadow: 2px 2px 0 #777;
  font-weight: bold;
  text-align: center;
}
#buildMult {
  margin-top: 3%;
  height: 6%;
  font-size: 1.2vh;
  color: #e37919;
  text-shadow: 0.5px 0.5px 0 #777;
  font-weight: bold;
  text-align: center;
}
#buildMult > span {
  height: 6%;
  font-size: 2em;
  color: #e37919;
  font-weight: 600;
  text-align: center;
}
#runeLine {
  position: absolute;
  width: 59vw;
  height: 63.5vh;
}
#runes {
  position: relative;
  z-index: 3;
}
#rune1 {
  width: 10vw;
  height: 10vw;
  background-color: black;
}
#rune2 {
  margin-top: 10vw;
  width: 10vw;
  height: 10vw;
  background-color: black;
}
#containerIInI {
  width: 60vw;
  height: 28.5vh;
}
#boostSelect {
  display: block;
  float: left;
  width: 45vw;
  height: 28.5vh;
  background-color: #858585;
}
.boostActive {
  animation-duration: 9s;
  animation-name: boostShiny;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes boostShiny {
  from {
    box-shadow: 0px 0px 15px 15px #aaa inset;
  }
  50% {
    box-shadow: 0px 0px 10px 5px #ccc inset;
  }
  to {
    box-shadow: 0px 0px 15px 15px #aaa inset;
  }
}
#boostToken {
  margin-top: 1vh;
  width: 45vw;
  height: 5vh;
  text-align: center;
}
#tokenImage {
  margin-left: 5vh;
  float: left;
  width: 5vh;
  height: 5vh;
  background-image: url(Resource/boostToken.png);
  background-size: 5vh 5vh;
}
#tokenNum {
  float: left;
  height: 5vh;
  font-size: 5vh;
  color: #d4ac1e;
  text-align: right;
  text-shadow: 0 0 4px #d4ac1e;
}
#boostSelect > div:nth-child(1) > div:not(:first-child) {
  text-align: center;
}
#boostSelect > div:nth-child(1) > div:nth-child(2) {

}
.boostCell {
  padding: 1vh 0;
  margin: 1vh 1vw;
  display: block;
  float: left;
  width: 13vw;
  height: 17.5vh;
  background-color: rgba(200, 200, 200, 0.6);
}
.boostCell:hover {
  transform: scale(1.08);
  box-shadow: 6px 6px 8px #666;
}
.boostCell:active {
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.05s;
}
.boostType {
  font-size: 5vh;
  color: #e05e3a;
  text-shadow: 0 0 4px #e05e3a;
}
.boostBuff {
  font-size: 4vh;
  color: #e05e3a;
  text-shadow: 0 0 4px #e05e3a;
}
.boostTime {
  margin: 1.5vh 0 1.5vh 0;
  font-size: 3vh;
  color: white;
  text-shadow: 0 0 4px #fff;
}
.boostCost {
  font-size: 2vh;
  color: #e8d61e;
  text-shadow: 0 0 4px #333;
}
#boostSelect > div:nth-child(1) > div:nth-child(3) {

}
#boostSelect > div:nth-child(1) > div:nth-child(4) {
  font-size: 4.4vh;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
#boostCoolTimeNum {
  font-size: 8.8vh;
}
#innerSelectedBoost {
  margin: 0.5vh 1vw;
  height: 21vh;
  background-color: rgba(255, 255, 255, 0.5);
}
#boostInfo {
  width: 100%;
  height: 5vh;
  font-size: 5vh;
  color: #e05e3a;
  text-shadow: 0 0 4px #e05e3a;
  text-align: left;
}
#activeBoostTime {
  width: 100%;
  height: 8vh;
  font-size: 4vh;
  color: #fff;
  text-shadow: 0 0 4px #fff;
  text-align: left;
}
#activeBoostTimeNum {
  font-size: 8vh;
}
#activeBoostTimeLeft {
  margin: 2% 0 0 1.5%;
  width: 90%;
  height: 2.5em;
}
#middleContentProgress {
  display: block;
  float: left;
  width: 15vw;
  height: 28.5vh;
  background-color: #636363;
}
#unlockProgress {
  width: 60vw;
  height: 3vh;
  background-color: #292929;
}
#containerIII {
  display: block;
  float: left;
  width: 20vw;
  height: 100vh;
}
#stat {
  width: 20vw;
  height: 80vh;
  background-color: #7d7d7d;
}
#statBanner {
  padding-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 20vw;
  height: 2vh;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: rgba(40, 40, 40, 0.2);
}
.statEra {
  padding: 0.5vh 0 0.5vh 0.5vw;
  margin-bottom: 0.5vh;
  margin-left: 1vw;
  width: 17.5vw;
  background-color: rgba(20, 20, 20, 0.3);
}
.statEra > div {
  font-size: 1.6vh;
  color: white
}
.statEra > div:not(:last-child) {
  margin-bottom: 0.5vh;
}
#option {
  width: 20vw;
  height: 20vh;
  background-color: #616161;
}
.optionLine:first-child {
  padding-top: 1vh;
}
.optionLine {
  margin-left: 1vw;
  margin-bottom: 1vh;
  padding-left: 1vw;
  width: 17vw;
  height: 5.3333vh;
}
.optionBlock {
  display: block;
  float: left;
  margin-right: 1vw;
  padding: 1.6665vh 0;
  width: 7.5vw;
  background-color: rgba(150, 150, 150, 0.6);
  text-align: center;
  font-size: 2vh;
  color: white;
  cursor: pointer;
}
.optionBlock:hover {
  background-color: rgba(150, 150, 150, 0.9);
  box-shadow: 10px 10px 7px #555;
  transform: scale(1.1);

  transition: all 0.2s ease;
}
.optionBlock:active {
  background-color: #fff;
  box-shadow: 0 0 0 #fff;
  color: #000;
  transform: scale(1);

  transition: all 0s;
}
